.container {
  background-color: #f8f9fa;
  display: flex;
  height: 100vh;
}
.header {
  text-align: center;
}
.logo {
  width: 128px;
}
.auth-form {
  width: 300px;
  margin: auto auto;
}

.auth-form-header {
  font-size: 24px;
  text-align: center;
  font-weight: 100;
}
